div.title{
    width:1000px;
    height:40px;
    background-color:aquamarine;
    font-size:30px;
   font-family:"Impact";
    margin-bottom: 20px;
   text-align: left;
}

div.box{
    font-size: 0;
    height: 320px;
    width: 1000px;
}



span.menuitem{
     

     width:250px;
    height:100px;
    background-color:cornsilk;
    font-size:30px;
    text-align: center;
   font-family:"Impact";
    display:block;
    margin-bottom: 10px;
      

     
}

span.image{
    display:inline-block;
    width:700px;
    height:300px;
    background-color:yellow;
   color: white;
    text-align: center;
}

div.images{
    width:700px;
    height:320px;
    display:inline-block;
    vertical-align : top;
    
}
div.top{
    width: 1000;
    
}


div.article{
    width:700px;
    height:20px;
    background-color:bisque;
    font-size:15px;
     text-align: center;
   font-family:"Impact";
}

div.footer{
    width:1000px;
    height:40px;
    background-color:cadetblue;
    font-size:30px;
     text-align: right;
    margin-top: 20px;
}

div.menu{
    display:inline-block;
    width:250px;  
    height:320px;
    margin-right: 50px;
    font-size: 0;
    vertical-align : top;
}


