h1{
    color:black;
    text-align : center ;
    background-color : azure;
}

h2{
    color:darkorange;
    text-align : center ;
    background-color :black;
}

.N{
color : darkred;
    background-color :green;
}
.M {
color : blue;
    background-color :hotpink;
}





body{
    
    background-image:url("../images/06.jpg");
    background-attachment : fixed;
}